<!-- form.html -->
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Weather App</title>

</head>
<body>
<header style = "background-color: #15ffaa; text-align: center; ">
  <strong id="cityName" style = "font-size: 30px;"> Weather Prediction Application</strong><br/>
</header>
<form action="/submitForm" method="post" style="alignment: center">
  <div style="alignment: center">
    <label for="inputValue">Enter City:</label>
    <input type="text" id="inputValue" name="inputValue" required>
    <br>
    <button type="submit">Submit</button>
  </div>
</form>
</body>
</html>
